@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #36454F;
    text-transform: uppercase;
    align-items: baseline;
    gap: 10px;    

}

a:link {
    color: white;
    text-decoration: none
}

a:visited {
    color: white;
    text-decoration: none
}


#navbar {
    display: flex;
    column-gap: 10px;
}

div.userbar {
    background-color: black;
    color: antiquewhite;
}